In [21]:
import pandas as pd
from sklearn.metrics import root_mean_squared_error as rmse

In [31]:
propose_df = pd.read_csv("C://dropout_MC//dropout_MC//_03_analyze//result//add_selected_data_model_pred.csv")
initial_df = pd.read_csv("C://dropout_MC//dropout_MC//_03_analyze//result//initial_model_pred.csv")
random_df = pd.read_csv("C://dropout_MC//dropout_MC//_03_analyze//result//add_data_random_model_pred.csv")

In [23]:
propose_df[propose_df["pred"] > 36]

      latitude   longitude station_name  temp       pred
195  24.288333  153.983333          南鳥島  31.6  36.993023

In [32]:
propose_df[propose_df["temp"] < 17]

     latitude   longitude station_name  temp      pred
148     35.36  138.726667          富士山  14.7  31.58288

In [33]:
drop_idx = [195, 148]

In [34]:
propose_df = propose_df.drop(drop_idx, axis=0)
initial_df = initial_df.drop(drop_idx, axis=0)
random_df  = random_df.drop(drop_idx, axis=0)

In [35]:
rmse(propose_df["temp"], propose_df["pred"])

2.538078684733273

In [36]:
rmse(initial_df["temp"], initial_df["pred"])

2.6023741141048475

In [37]:
rmse(random_df["temp"], random_df["pred"])

2.5504554438191214

In [38]:
propose_df.shape

(282, 5)